<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>NodeJS Express Simple Todo List</title>
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <!-- Css Site Theme-->

    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">NodeJS Express Simple Todo List</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="widget-area">
                <div class="status-upload">
                    <form>
                        <textarea placeholder="What are you doing right now?"></textarea>
                        <button type="submit" class="btn btn-success green"><i class="fa fa-plus"></i> Add to task list
                        </button>
                    </form>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">
                    <i class="fa fa-sticky-note"> <strong>All your notes are there</strong></i>
                </a>

                <div href="#" class="list-group-item">
                    <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-square-o"></i>
                    </div>
                    <div class="col-xs-11">
                        Dapibus ac facilisis in
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->
</body>
</html>